.main-particles{
    z-index: 0;
    width: 100%;
    position: absolute;
    height: 100%;
    text-align: center;
}

.short-describe{
    width: calc(60% - 20px);
    padding: 10px;
    display: block;
    text-align: center;
    font-size: 1.2em;
    z-index: 2;
    position: relative;
    .describe-header{
        font-size: 1.5em;
        font-family: "Oswald",sans-serif;
    }
}
.left{
    margin-left: 10%;
    margin-top: 20px;
}
.right{
    margin-left: 30%;
}
@media screen and (max-width: 916px){
    .left{
        margin-left: 5%;
    }
    .right{
        margin-left: 35%;
    }
}
@media screen and (max-width: 674px){
    .short-describe{
        width: calc(85% - 20px);
        font-size: 1em;
    }
    .left,.right{
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width: 428px){
    .short-describe{
        width: calc(95% - 20px);
        font-size: 1em;
    }
    .left{
        margin-top: 0px;
    }
}