.welcome-header{
    width: calc(90% - 20px);
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "Oswald",sans-serif;
    font-size: 2.9em;
}

.courses-container{
    width: calc(100% - 30px);
    padding: 15px;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.currency-container,.currency-container-header{
    width: calc(70% - 20px);
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background: $body-bg;
    .code-container,.bid-container,.ask-container{
        display: inline-block;
        width: calc(33% - 10px);
        padding: 5px;
        font-size: 1.4em;
        text-align: center;
    }
}

.currency-container-header{
    .code-container,.bid-container,.ask-container{
        font-size: 1.7em;
    }
}

@media screen and (max-width: 780px){
    .currency-container,.currency-container-header{
        width: calc(80% - 20px);
        .code-container,.bid-container,.ask-container{
            font-size: 1.2em;
        }
    }
    .currency-container-header{
        .code-container,.bid-container,.ask-container{
            font-size: 1.5em;
        }
    }
    
}
@media screen and (max-width: 772px){
    .welcome-header{
        font-size: 2.5em;
        width: calc(95% - 20px);
    }
}
@media screen and (max-width: 580px){
    .currency-container,.currency-container-header{
        width: $basic-width;
        .code-container,.bid-container,.ask-container{
            font-size: 1.2em;
        }
    }
}
@media screen and (max-width: 480px){
    .courses-container{
        width: calc(100% - 10px);
        padding: 5px;
    }
}
@media screen and (max-width: 444px){
    .welcome-header{
        font-size: 2.1em;
        width: $basic-width;
    }
}
@media screen and (max-width: 398px){
    .currency-container{
        .code-container,.bid-container,.ask-container{
            font-size: 1em;
        }
    }
}